@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Welcome To The Batch RPS Game! Please Log In.</p>

	<a asp-controller="Login" asp-action="Login">Please Click Here To Log In</a><br /><br />
	<a asp-controller="Register" asp-action="Register">Please Click Here To REGISTER</a>
</div>
